.add-form{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

}
.name-section, .detail-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 20px;

    height: 44px;

    max-width: 473px;
    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 0; 
}

#studentName-field{
    flex-grow: 1;
}

.detail-section > * {
  flex: 1;              /* each child takes equal space */
  min-width: 100px;         /* prevents overflow when shrinking */
}

#idNumber-field{
    max-width: 144px;
}

#gender-dropdown, #yearLevel-dropdown{
    max-width: 144px;
}

.dropdown-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;

    width: auto;
    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 1;
    flex-grow: 0;
}

.button-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;

    max-width: 473px;
    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    order: 2;
    flex-grow: 0;
}

.input-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;

    color: var(--color-black);
    font-family: var(--font-family-base);
    font-size: var(--font-size-regular);

    height: 24px;
    width: auto;

    background: var(--color-neutral);
    box-shadow: var(--sunken);
    border-radius: 50px;

    flex: 0;
    align-self: stretch;
    flex-grow: 0;
}
.add-form .confirm-button, .cancel-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 41px;
    border: none;

    /*Text*/
    color: var(--color-black);
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-regular);
    white-space: nowrap;

    cursor: pointer;
    height: 40px;


    background: var(--color-neutral);
    box-shadow: var(--protruding);
    border-radius: 50px;

    flex: 1;
    align-self: stretch;
    flex-grow: 1;

    transition: all 0.3s ease-in-out;
}
.add-form .confirm-button:hover {
    background: var(--color-primary-100);
    box-shadow: var(--protruding);
}
.add-form .cancel-button:hover {
    background: var(--color-destructive-100);
    box-shadow: var(--protruding);
}

