
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  /* Neutral */
  background: var(--color-neutral);
  /* Protruding */

  box-shadow: var(--protruding);
  border-radius: 20px;

  /* Inside auto layout */
  flex: 1;
  align-self: stretch;
}

.box-tool-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;

  height: 80px;

  border-radius: 20px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.box-table-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px;

  /* Inside auto layout */
  flex: 1;
  align-self: stretch;
  flex-grow: 1;

}
