
.icon-button{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  border: none;

  width: 45px;
  height: 45px;
  padding: 5px 16px;

  /* Neutral */
  background: var(--color-neutral);
  border-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  transition: all 0.3s ease-in-out;
}

.icon-button:hover{
  box-shadow: var(--protruding);
}