.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-header-text,
.table-cell {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-regular);
  padding: 5px 16px;
  border-bottom: 1px solid var(--color-neutral-grey);
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-header-text {
  font-weight: 100;
  font-size: var(--font-size-regular);
  color: var(--color-neutral-grey);

  transition: all 0.3s ease-in-out;
}

.table-header-text:hover{
  color: var(--color-primary);
  cursor: pointer;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  border: 1px solid var(--color-neutral-grey);
  box-shadow: 0 2px 6px -2px var(--color-neutral-grey);
}

.table-row.selected {
  background-color: var(--color-primary-100);
}



