:root{
    /* Colors */
    --color-primary: #4B4EFD;
    --color-neutral: #e0e0e0;
    --color-neutral-grey: #9CA2AE;
    --color-destructive: #F04444;

    /* Typography */
    --font-family-base: 'Poppins', sans-serif;
    --font-size-big: 24px;
    --font-size-title: 32px;


    /* Shadows */
    --protruding: 
    8px 8px 16px #bebebe,
    -8px -8px 16px #FFFF;

    --sunken:
   inset 10px 10px 30px #AEAEC0,
    -10px -10px 30px #FFFFFF;
}