@import url('base.css');

.btn-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
  gap: 10px;

  width: 252px;
  height: 56px;

  background: #E7E7E7;
  border-radius: 50px;

  text-decoration: none; 
  transition: all 0.3s ease-in-out;
}

.btn-component:hover{
width: 252px;
height: 56px;

box-shadow: var(--protruding);
}

.btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btn-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;

  flex: none;
}

.sidebar {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 30px;

    height: 100vh;

    background: var(--color-neutral);
    box-shadow: var(--protruding);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon-button{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 44px;
  height: 44px;
  left: 20px;
  top: 20px;

  background: var(--color-neutral);
  border-radius: 50px;
}


