@import url('base.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.btn-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
  gap: 10px;

  width: 180px;
  height: 56px;

  background: var(--color-neutral);
  border-radius: 50px;

  text-decoration: none; 
  transition: all 0.3s ease-in-out;
}

.btn-component:hover{
box-shadow: var(--protruding);
}

.btn-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.btn-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;

  flex: none;
}

.sidebar {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 30px;

    min-width: 280;
    height: auto;

    background: var(--color-neutral);
    box-shadow: var(--protruding);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex: 1;           /* grow to take all remaining space */
  order: 1;
  align-self: stretch;
}

.icon-button{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  width: 44px;
  height: 44px;

  /* Neutral */
  background: var(--color-neutral);
  border-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  transition: all 0.3s ease-in-out;
}

.icon-button:hover{
  box-shadow: var(--protruding);
}

.toolbar-container{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  height: 84px;

  /* Inside auto layout */
  flex: 1;
  align-self: stretch;

}

.toolbar{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;

  height: 84px;

  /* Neutral */
  background: var(--color-neutral);
  /* Protruding */
  box-shadow: var(--protruding);
  border-radius: 20px;

  /* Inside auto layout */
  flex: 1;
}

.title {
/* Title */
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 32px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
}

.toolbar-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.add-button{
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 84px;
height: 84px;

/* Primary 100 */
background: var(--color-primary-100);
/* Protruding */
box-shadow: var(--protruding);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

transition: all 0.3s ease-in-out;
}

.add-button:hover{
  background-color: var(--color-primary-200);
}

.searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 60px;
  gap: 10px;

  width: 922px;
  height: 60px;

  background: var(--color-neutral);
  box-shadow: var(--sunken);
  border-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.searchbar-icon{
  width: 24px;
  height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.searchbar-text{
  color: var(--color-neutral-grey);

  width: 85px;
  height: 36px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
